<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>IMDB Review Sentiment Analysis</title>
 <link rel="stylesheet" type="text/css" href="static/style.css"> 
</head>

<body>

<script>
function myFunction() { 
  document.getElementById("review").innerHTML = " ";
}
</script>

 <div class="bg-image"></div>
 <h1 class="bg-text" style="top: 10%; background-color: rgba(0,0,0, 0.8); color: Moccasin;" >Imdb Review Sentiment Analysis</h1>
 <div class="bg-text" >
     <!-- Main Input For Receiving Query--> 
    <form action="#" method="post" style="padding:10px;">
	   <textarea name="review" style="width:40vw; height:10vw;padding:6px" placeholder="Movie review" onclick="myFunction()">
{{ review_text }}</textarea>	
		 <br><br><br>
        <button type="submit" class="button">Predict</button>
    </form>

   <h3 id="review" style="white-space: pre;"> {{ prediction_text }}</h3>
	
 </div>


</body>
</html>